
html {

  background-color: #b9fdf1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23527655' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23486650' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%235a815e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%234f715b' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23618b68' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2356775c' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236e9d6f' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23587e67' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2374a778' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2369916d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2376a97d' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%236c9876' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background by SVGBackgrounds.com */

}