
html {
  font-family: 'Baloo 2', cursive;
  overflow: auto;
}

hr {
  background-color: #9c9c9c;
  height: 1px;
}

hr.is-light {
  background-color: #cecece;
}

.setting-container.is-select {
  padding-bottom: 0.8rem;
}
.setting-container.is-select.is-2 {
  padding-bottom: 0.9rem;
}

.select-biome-remap {
  max-width: 60px!important;
}

#loading-spinner-container {
  padding-left: 20vw;
  padding-top: 20vh;
}

#loading-canvas-container {
  width: 40vw;
  min-width: 200px;
  padding: 3rem;
}

.panel {

  background-color: rgb(247 247 247);
  border-radius: 15px;
  width: 40vw;
  max-width: 300px;
  min-width: 200px;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

#imgSave {
  -moz-box-shadow:    1px 2px 3px 1px #000;
  -webkit-box-shadow: 1px 2px 3px 1px #000;
  box-shadow:         1px 2px 3px 1px #000;
  width: 68vh;
  height: 68vh;
}