
html {
  font-family: 'Baloo 2', cursive;
  overflow: auto;
}

hr {
  background-color: #9c9c9c;
  height: 1px;
}

#settings-panel {



}

#loading-spinner-container {
  padding-left: 20vw;
  padding-top: 20vh;
}

#loading-canvas-container {
  width: 40vw;
  min-width: 200px;
  padding: 3rem;
}

.panel {

  background-color: rgb(235, 235, 235);
  border-radius: 15px;
  width: 30vw;
  min-width: 200px;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;

}